header {
    padding-bottom: 5.5%;
}

nav {
    background: white;
}

section div a, nav div div a {
    color: black;
    text-decoration: none;
}

section div a span {
    padding: 10px 20px 10px 20px;
    margin-left: 40px;
    border-radius: 13px;
    transition: .2s ease all;
    font-weight: 350;
}
nav div div a div span {
    padding: 10px 20px 10px 20px;
    border-radius: 13px;
    transition: .4s ease all;
    font-weight: 400;
}
section div a span:hover {
    background: #0dfb1596;
    font-weight: 400;
}
nav div div a div span:hover {
    background: rgba(190, 184, 184, 0.4);
    border: solid 0.5px rgba(128, 128, 128, 0.582);
    font-weight: 500;
}

.head {
    padding: 10px;
    padding-bottom: 15px;
    border-bottom: solid 1px lightgray;
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%
}

.lag {
    border: solid 1px lightgray;
    border-top: none;
    margin-top: 70px;
    padding: 10px;
    padding-bottom: 15px;
    position: fixed;
    height: 100%;
    width: 15%;
}

.section {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: -35px;
    margin-right: 100px;
    font-size: 20px;
}

.sections {
    font-size: 20px;
}
.sections-2 {
    font-weight: 550;
    font-size: 18px;
}
.html-css, .java, .javascript, .python {
    padding: 10px 0px 10px 0px;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: -27px;
    transition: .2 ease all;
}